 
 @import url(https://fonts.googleapis.com/css?family=Roboto:300);
 @import url(https://fonts.googleapis.com/css?family=Aref+Ruqaa);


html{
   background: url(../Resources/background.jpg) no-repeat center center fixed; 
   background-size: cover;
}
.body{
    min-width:100%;
    width:auto;
    width:100%;
}
/*bc expanding wrapper to full height of viewport, the footer is pushed down. subtract the height of the footer
    so its not pushed down extra by its height.
*/



.form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5% auto;
  font-family: "Roboto", cursive,'Changa One', 'sans-serif';
  z-index: 1;
}

.formWrap{
    display: none;
}

form{
    margin: 0 auto;
    background-color: rgba(72, 72, 72, 0.7);
    padding: 30px;
    min-height: 50vh;
    min-width: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    border-radius: 15px;
}

#registerUsername, #inputUsername{
    background-image: url(https://skincareayurveda.com/photos/kayakalp-global-featured-image-1468303717.png);
    background-size: 8%;
    background-position: 2% center;
    background-repeat: no-repeat;
}

#inputPassword, #registerPassword, #registerRetype {
    background-image: url(http://zhuansunxt.com/2016/04/22/implementing-synchronization1/lock.png);
    background-size: 8%;
    background-position: 2% center;
    background-repeat: no-repeat;
}

.form input{
  outline:0;
  border: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  margin: 5px auto 0 auto;
  border-radius: 10px;
  background-color: #FFF;
  margin-bottom: 20px; 
  height: 30px;
}

.header a{
  color: inherit;
}

.form input:hover{
    background: #939393; 
    color: #FFF; 
    border: 1px solid #000;
    box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  }

#ucsbLogo{
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
  margin-left: 2vh;
}

.logo {
    width: 50%;
}

.header{
  background-color: rgba(76,175,80,0.8);
  width: 100%;
  padding: 20px 0;
  text-shadow: 0px 1px 1px #93918b;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 2.5px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 1;
  /*background-image: url('../Resources/ucsb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: inset 0 0 50px 8px rgba(0, 0, 0, 1), 0 1px 6px 3px rgba(0, 0, 0, .8);*/
}

.container{
  width: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none; 
}

.message a:hover{
  text-decoration: underline; 
}

.message {
 color: gold; 
}

.form .Button{
  border: 1px solid #000;
  border-top: 1px solid rgba(255,255,255,0.8);
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px;
  align-content: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#338000+0,61c626+50,338000+100 */
    background: #338000; /* Old browsers */
    background: -moz-linear-gradient(left,  #338000 0%, #61c626 50%, #338000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #338000 0%,#61c626 50%,#338000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #338000 0%,#61c626 50%,#338000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338000', endColorstr='#338000',GradientType=1 ); /* IE6-9 */
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.form .Button:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#53d000+0,7fdc4a+50,53d000+100 */
background: #53d000; /* Old browsers */
background: -moz-linear-gradient(left, #53d000 0%, #7fdc4a 50%, #53d000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #53d000 0%,#7fdc4a 50%,#53d000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #53d000 0%,#7fdc4a 50%,#53d000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d000', endColorstr='#53d000',GradientType=1 ); /* IE6-9 */
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.formWrappers {
    display: none;
}


 html, body{
    height:100%;
    margin: 0;
  }

  .wrapper{
    min-height: 100%; 
    margin-bottom: -50px;
  }
  
  .footer,.push{
    height: 2vh;
  }

  .footer{
      min-width: 100%;
     /*background-color: rgba(76,175,80,0.8);*/
     color: #fff;
     display: table;
     vertical-align: middle;
     text-align:center;
  }
  .footer span {
      display: table-cell;
      vertical-align: middle;
  }

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    display: none;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

/* Loading */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
